﻿<%@ Page Language="C#" Inherits="PartnerWeb.signout" %>
<!DOCTYPE html>
<html>
<head runat="server">
	<title>signout</title>
</head>
<body>
	<form id="form1" runat="server">
	</form>
</body>
</html>
