﻿<%@ Page Language="C#" Inherits="PartnerWeb.Test"  MasterPageFile="~/Site.master"%>

<asp:Content ID="PageContent" ContentPlaceHolderID="contentPlaceHolder" Runat="Server">
	<form id="form1" runat="server">
          <asp:Repeater ID="rpt_hours" runat="server">
            <ItemTemplate>
                    <div></div>
            </ItemTemplate> 
            </asp:Repeater>
	</form>
</asp:Content>
